*{
    font-family: "Lucida Console", Monaco, monospace;
    color:#000015;
}

#postamble {
    margin-top: 30px;
}

#home, #archive, #git{
    background-color: #ccccff;
    background: -webkit-linear-gradient(bottom, rgba(200,200,255,.4), rgba(255, 255, 255,1));
    background: -moz-linear-gradient(bottom, rgba(200,200,255,.6), rgba(255,255,255,.8));
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    display:inline-block;
}

body {
    font-family: "Courier New", Courier, monospace;
    background-color: #fffffe;
    font-family: helvetica;
    max-width: 1100px;
    margin: 0px auto;
    /*    margin-left: 150px;
       margin-right: 150px; */
}

h1 {
    font-weight: bold;
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 43px;
    border-radius: 10px;
}

#postamble{
    border-top: 4px #B2B2B2;
    border-top-style:solid;
}
.outline-text-2 {
    margin-left: 10px;
}

.org-src-container{
    font-size:medium;
}

.highlight {
    margin-left: 30px;
}

h2{
    margin-left: 30px;
    margin-top: 40px;
}

h3{
    margin-left: 35px;
}

h4{
    margin-left: 40px;
}


table {
    margin: 0 auto;
}

tbody{
    
}

p {
    margin-left: 40px;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: justify;
    text-justify: inter-word;    
}


p a:link{
    color:blue;
}

p a:visited{
    color:blue;
}
