h1.title {
    text-align: center;
}

#text-table-of-contents{
    color: red;
    link: red;
    margin-bottom: 60px;
}


#text-table-of-contents a:hover{
    color:#5c3566;
}

#postamble {
    margin-top: 30px;
    border-top: 4px #B2B2B2;
    border-top-style:solid;
    color: black;
    text-decoration: none;
    padding-top:20px;
}


#home, #archive, #git, #rss{
    background-color: #ccccff;
    background: -webkit-linear-gradient(bottom, rgba(200,200,255,.4), rgba(255, 255, 255,1));
    background: -moz-linear-gradient(bottom, rgba(200,200,255,.6), rgba(255,255,255,.8));
    margin-top: 5px;
    margin-right: 2px;
    
    padding-top: 15px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    color: black;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    display:inline-block;
}

#rss {
    color:darkorange;
}

body {
    font-family: "Courier New", Courier, monospace;
    background-color: #fffffe;
    font-family: helvetica;
    max-width: 80%;
    margin: 0px auto;
}

h1 {
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 43px;
    border-radius: 10px;
}

h2{
    font-family: "Lucida Console", Monaco, monospace;
    margin-left: 1%;
    margin-top: 40px;
}

h3{
    margin-left: 2%;
}

h4{
    margin-left: 40px;
}

table {
    margin: 0 auto;
}

p {
    margin-left: 2%;
    font-family: "Lucida Console", Monaco, monospace;
    text-justify: inter-word;
    text-decoration: none;
}

p a:link{
    color:blue;
}

p a:hover{
    color:red;
}

p a:visited{
    color:blue;
}

a {
    color:black;
}


.highlight {
    margin-left: 30px;
}

.src.src-python{
    overflow:auto;
    background-color:lightgrey;
}

.timestamp{
    color:black;
}

#outline-container-sec-X.outline-X {border-bottom: 4px lightgray; border-bottom-style:solid;}
#text-3.outline-text-2  {text-align: center;}
#outline-container-sec-3.org-ul  {text-align: center;}
